@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --background: 214 17% 8%;
    --foreground: 218 7% 78%;
    --muted: 214 12% 15%;
    --muted-foreground: 214 12% 65%;
    --popover: 214 17% 5%;
    --popover-foreground: 218 7% 88%;
    --card: 214 17% 6%;
    --card-foreground: 218 7% 83%;
    --border: 214 7% 13%;
    --input: 214 7% 16%;
    --primary: 346 62% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 346 30% 75%;
    --secondary-foreground: 346 30% 15%;
    --accent: 214 17% 23%;
    --accent-foreground: 214 17% 83%;
    --destructive: 8 88% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 346 62% 48%;
    --chart-1: 346 62% 48%;
    --chart-2: 346 30% 75%;
    --chart-3: 214 17% 23%;
    --chart-4: 346 30% 78%;
    --chart-5: 346 65% 48%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
